@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
    font-family: "Univers Next";
    src: url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.eot");
    src: url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/0445abde4a9a4c69267b4154cbf70170.svg#Univers Next") format("svg");
}